body {
  margin: 0;
  padding: 0;
  overscroll-behavior: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


@font-face {
  font-family: "DesignerGenes";
  /*Can be any text*/
  src: url(".././public/fonts/DesignerGenes.ttf") format("truetype");
}


@font-face {
  font-family: "MatissePro";
  /*Can be any text*/
  src: url(".././public/fonts/MatissePro.otf") format("otf");
}